body {
  font-family: "Poppins", sans-serif;
  background-color: #e7d3cc;
  padding-bottom: 1000px;
  margin: 0;
}

p {
  margin: 0;
  display: inline-block;
}

a {
  font-family: "Poppins", sans-serif;
}

button {
  border-width: 0;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  display: inline-block;

}

h2 {
  font-size: 35px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

