.body {
  height: 100vh;
  width: 100vw;
  background-color: #e7d3cc;
  overflow-x: hidden;
}

.app-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}
.app {
  box-shadow: 5px 5px gray;
  border-radius: 15px;
  background-color: white;
  width: 350px;
  height: 280px;
  text-decoration: none;
  color: black;
}

.app-img {
  width: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.link {
  font-size: large;
}

.about-app {
  font-size: large;
}

.app-content {
  padding: 15px;
  height: 50%;
}

.title {
  font-size: xx-large;
  color: black;
  margin-top: 50px;
  margin-left: 50px;
}

.articles-content {
  font-size: x-large;
}
