body {
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #e7d3cc;
  height: 3500px;
  margin: 0;
}

p {
  color: black;
  margin: 0;
}

#post-btn {
  background-color: white;
  color: #7261ad;
  border-radius: 10px;
  padding: 5px;
}

a {
  font-family:  "Poppins", sans-serif;
}

button {
  color: black;
   border-width: 0;
   background-color: transparent;
   font-family: "Poppins", sans-serif;
}

button:hover{
  color: white;
  cursor: pointer;
  background-color:#7F8CFF;
  border-radius: 10px;
  padding: 5px;
  transition: all ease-in-out 0.3s;
}

header {
  z-index: 100;
  color: black;
  background-color:#ffffffb3;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.logo {
  color: #7F8CFF;
  font-weight: 700;
  font-size: 30px;
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}


.left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.middle {
  flex: 1;
}

.right {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-around;
  margin-right: 10px;
}


.main-wrapper {
  display: flex;
}

#main-section {
  margin-top: 100px;
  z-index: 1;
  display:flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100vh;
}
.comment-section {
  background: white;
  height: 2500px;
  width: 40%;
  
}

.post{
  font-size: 15px;
  color: white;
  padding: 20px;
  width: 70%;
  height: fit-content;
  border-color: #a28377;
  box-shadow: 1 1 1 ;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color:#ffffff;
  display: block;

}

.poster {
  vertical-align: center;
  display: flex;
  width:100%;
  height: fit-content;

}

.pfp {
  padding: 10px;
  border-radius: 50px;
  object-fit: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.poster-name {
  margin-top: 10px;
}

.post-content {
  border-color:#a28377;
  border-style: solid;
  border-width: 2px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  height: fit-content;
}



.comment-list {
  color: black;
  margin: 10px;
  margin-top: 70px;
  height: 100%;
}

ul li {
  list-style: none;
  height: 60px;
}
.comment-box {
  font-size: 15px;
  height: fit-content;
  display: flex;
}


#commentor-name-contianer {
  width: fit-content;
}

#comment-text-contianer {
  width: fit-content;
}

#comment-input {
  padding: 13px;
  border-radius: 20px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  
}

.comment-wrapper {
  color: black;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#comment-btn {
  color: #6858a8;
  background:white ;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  border-color: #7261ad;
  border-style: solid;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
}


#comment-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color:#7261ad;
  color: white;
  border-color: white;
}


/* POPUP */

.popup .overlay {
  position: fixed; 
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
  font-size: 14px;
  display: none;
}

.popup .popup-content {
  position: absolute ;
  z-index: 4;
  border-width: 7px;
  border-color: rgb(208, 208, 208);
  border-style: double;
  border-radius: 15px;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); scale: (0);
  background-color :#7261ad;
  width: 30vw;
  height: 44vh;
  
}

#poster-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border-color: white;
  font-family:  "Poppins", sans-serif;
  border-radius: 10px;
}

#post-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border-color: white;
  font-family:  "Poppins", sans-serif;
  border-radius: 10px;
}

#post-el {
  background-color: white;
  color: #7261ad;
  width: 60px;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 55px;
  padding-bottom: 35px;
  border-radius: 20px;
  
}



.popup.active .overlay {
  display: block;
}

.popup.active .popup-content {
  transition: all 300ms ease;
  transform:translate(-50%, -50%) scale(1);
}

.post-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#post-btn:hover  {
  background-color: #7F8CFF;
  color:white;
}