body {
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #e7d3cc;
  height: 3500px;
  margin: 0;
}

a{
  text-decoration: none;
  color:black
}
p {
  color: black;
  margin: 0;
}

#post-btn {
  margin-top: 10px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #7261ad;
  color: white;
  border-radius: 10px;
  padding: 5px;
}


a {
  font-family: "Poppins", sans-serif;
}

button {
  color: black;
  border-width: 0;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

#post-btn:hover{
  color: #7261ad;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  transition: all ease-in-out 0.3s;
}


.main-wrapper {
  display: flex;
}

#main-section {
  margin-top: 100px;
  z-index: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.comment-section {
  background:#ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-bottom: 2500px;
  
}

.post{
  
  font-size: 16px;
  color: white;
  padding: 20px;
  width: 80%;
  height: fit-content;
  border-color: #a28377;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: #ffffff;
  display: block;

}

.poster {
  vertical-align: center;
  display: flex;
  width: 100%;
  height: fit-content;

}

.pfp {
  padding: 10px;
  border-radius: 50px;
  object-fit: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

#poster-name {
  overflow: hidden;
}
.poster-name {
  overflow: hidden;
  margin-top: 10px;
}

.post-content {
  overflow: hidden;
  border-color:#a28377;
  border-style: solid;
  border-width: 2px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  height: fit-content;
}

.post:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}



.comment-list {
  margin-left: 0;
  margin-right: 20px;
  color: black;
  margin-top: 70px;
  height: 100%;
}

ul {
  font-size: 12px;
  line-break:strict;
  line-height: 40px;
}

ul li {
  list-style: none;
  height:max-content;
}

.comment-box {
  font-size: 15px;
  height: fit-content;
  display: flex;
}



#commentor-name-contianer {
  margin-left: 0;
  width: fit-content;
  height: fit-content;
}

#show-comments-btn {
  background-color: #7F8CFF;
  color:white;
  border-radius: 10px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#show-comments-btn:hover{
  cursor: pointer;
  color: #7261ad;
  border-color:#7F8CFF;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  transition: all ease-in-out 0.3s;
}
#comment-input, #username-input {
  width:50%;
  display: block;
  padding: 13px;
  border-radius: 20px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  
}

.comment-wrapper {
  color: black;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#comment-btn {
  overflow: auto;
  width: 50%;
  display: block;
  color: #6858a8;
  background: white;
  padding: 10px;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  border-color: #7261ad;
  border-style: solid;
  font-family: "Poppins", sans-serif;
  font-size: 10px;   /* ADD THIS IN MEDIA Q */
  border-radius: 20px;
}


#comment-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #7261ad;
  color: white;
  border-color: white;
}


/* POPUP */

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  font-size: 14px;
  display: none;
}

.popup .popup-content {
  padding: 10px;
  color: white;
  position: absolute ;
  z-index: 4;
  border-width: 7px;
  border-color: rgb(208, 208, 208);
  border-style: double;
  border-radius: 15px;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); scale: (0);
  background-color :#a28377;
  width: 30vw;
  height: fit-content;
  
}

#poster-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  border-color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}

#post-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  border-color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}

#post-el {
  background-color: white;
  color: #7261ad;
  width: 60px;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 55px;
  padding-bottom: 35px;
  border-radius: 20px;

}



.popup.active .overlay {
  display: block;
}

.popup.active .popup-content {
  transition: all 300ms ease;
  transform: translate(-50%, -50%) scale(1);
}

.post-title {
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#post-btn:hover {
  background-color: #7F8CFF;
  color:white;
}

#post-el:hover {
  background-color: #a28377;
  color:white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  transition: all ease-in-out 0.3s;
}

.inst-text {
  font-size: 12px;
}

@media(max-width:800px) {
  #post-btn {
    right:30px;
    font-size: 11px;
    width:fit-content;
    padding: 5px;
  }

  #comment-section {
    width: 60%;
  }

  #main-section {
    width: 40%;
  }

  .post {
    width: 50%;
    font-size: 10px;
  }

#commentor-name {
  font-size: 8px;
}

#comment-text {
  font-size: 8px;
}


}