header {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 30px;
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.middle {
  flex: 1;
}

.right {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: space-around;
  margin-right: 10px;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  margin: 0;
  color: #1e0233;
}

.h1-div {
  width: 60%;
}

.h1-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.home-btn,
.about-btn,
.blog-btn,
.resource-btn,
.meet-btn {
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.2s;
}

.home-btn:hover,
.about-btn:hover,
.blog-btn:hover,
.resource-btn:hover,
.meet-btn:hover {
  background-color: #6070ff;
  color: white;
}
