html,
body {
  background-color: white;
}

p {
  font-size: 16px;
}

.resources-body {
  background-color: #ffffff;
  height: 850px;
}

.app-container1 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin: 40px;
  padding-bottom: 20px;
  row-gap: 50px;
}

.app {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.396);
  border-radius: 15px;
  background-color: white;
  width: 750px;
  height: fit-content;
  text-decoration: none;
  color: black;
}

.app:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.app-img {
  width: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.link {
  font-size: large;
}

.about-app {
  font-size: large;
}

.app-content {
  padding: 15px;
  height: fit-content;
}

.title {
  text-align: center;
  border-bottom: 2px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  padding: 10px;
  display: block;
  font-size: 40px;
  border-color: rgba(0, 0, 0, 0.299);
  color: rgba(0, 0, 0, 0.79);
  margin-top: 70px;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
}

.articles-content {
  font-size: x-large;
  padding: 2px;
  color: black;
  text-shadow: 1px 1px gray;
}

.app-container2 {
  justify-content: space-around;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 50px;
  row-gap: 40px;
}

.app2 {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.396);
  border-radius: 15px;
  background-color: white;
  width: 700px;
  height: fit-content;
  text-decoration: none;
  color: black;
  padding: 20px;
}

.app2:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.app-img2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.app3 {
  box-shadow: 5px 5px gray;
  border-radius: 15px;
  background-color: white;
  width: 350px;
  height: 500px;
  text-decoration: none;
  color: black;
}

.app3:hover {
  box-shadow: 10px 10px gray;
  width: 355px;
  height: 505px;
}

.books-content {
  font-size: large;
  padding: 10px;
  color: black;
  text-shadow: 1px 1px gray;
}
